body {
    margin: 0px;
    padding: 0;
    font-family: helvetica;
    background-color: #1A1A1A;
    color: #FFFFFF;
    overflow-x: hidden;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

a {
    text-decoration: none;
    color: #1C82E7;
}

.tweaked {
    margin: 10px;
    padding: 20px;
    width: 80%;
    border-radius: 20px;
    background-color: #242628;
    height: 60px;
}

.tweaked img {
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 23.3%;
    margin-left: 0px;
}

.tweaked h1 {
    font-size: 16px;
    margin-left: 70px;
    text-align: justify;
    margin-bottom: 0px;
}

.tweaked p {
    font-size: 13px;
    margin-left: -25px;
    opacity: 0.6;
    padding: 5px;
    border-radius: 5px;
    width: 100px;
    text-align: justify;
    margin-top: 2px;
}

.tweaked a {
    display: block;
    width: 55px;
    padding: 5px;
    border-radius: 50px;
    float: right;
    color: #007AFF;
    margin-right: 0px;
    border: 5px solid #007AFF;
}

h66 {
    font-size: 40px;
    color: #1A1A1A;
}

.ios {
    margin: 10px;
    padding: 20px;
    width: 80%;
    border-radius: 20px;
    background-color: #242628;
    height: 25px;
    font-size: 25px;
}

.apps {
    margin: 10px;
    padding: 20px;
    width: 80%;
    border-radius: 20px;
    background-color: #242628;
    height: 60px;
}

.apps img {
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 23.3%;
    margin-left: 0px;
}

.apps h1 {
    font-size: 16px;
    margin-left: 70px;
    text-align: justify;
    margin-bottom: 0px;
}

.apps p {
    font-size: 13px;
    margin-left: -25px;
    opacity: 0.6;
    padding: 5px;
    border-radius: 5px;
    width: 100px;
    text-align: justify;
    margin-top: 2px;
}

.apps a {
    display: block;
    width: 55px;
    padding: 5px;
    border-radius: 50px;
    float: right;
    color: #007AFF;
    margin-right: 0px;
    font-family: Framework7 Icons;
    font-size: 40px;
}

.apps a:hover {
    display: block;
    width: 55px;
    padding: 5px;
    border-radius: 50px;
    float: right;
    color: #FFFFFF;
    margin-right: 0px;
    font-family: Framework7 Icons;
    font-size: 40px;
}

.new {
    margin: 10px;
    padding: 20px;
    width: 80%;
    border-radius: 15px;
    background-color: #242628;
    height: auto;
}

.new img {
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 23.3%;
    margin-left: 0px;
}

.new h1 {
    font-size: 16px;
    margin-left: 70px;
    text-align: justify;
    margin-bottom: 0px;
}

.new p {
    font-size: 13px;
    margin-left: -25px;
    opacity: 0.6;
    padding: 5px;
    border-radius: 5px;
    width: 100px;
    text-align: justify;
    margin-top: 2px;
}

.new a {
    display: block;
    width: 55px;
    padding: 5px;
    border-radius: 50px;
    float: right;
    color: #007AFF;
    margin-right: 0px;
    font-family: Framework7 Icons;
    font-size: 40px;
}

.new a:hover {
    display: block;
    width: 55px;
    padding: 5px;
    border-radius: 50px;
    float: right;
    color: #FFFFFF;
    margin-right: 0px;
    font-family: Framework7 Icons;
    font-size: 40px;
}

.slider {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
}

.card {
    flex-shrink: 0;
    width: 280px;
    height: 155px;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
}

.card img {
    width: 280px;
    border-radius: 25px;
    height: 150px;
}

@supports ( (-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))) {
    .blur-bg {
        position: relative;
        bottom: 60px;
        padding: 5px;
        width: 270px;
        background: rgba(0, 0, 0, 0.6);
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
    }
}

.card h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}

.sect {
    font-size: 10px;
    margin-left: 30px;
    text-align: justify;
    margin-bottom: 0px;
}

.slider2 {
    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    width: 100%;
}

.card2 {
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    display: block;
    margin-left: 10px;
    margin-right: 10px;
}

.card2 img {
    width: 60px;
    border-radius: 15px;
    height: 60px;
}

@supports ( (-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))) {
    .blur-bg {
        position: relative;
        bottom: 60px;
        padding: 5px;
        width: 60px;
        background: rgba(0, 0, 0, 0.6);
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
    }
}

.card2 h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
}