@supports ( (-webkit-backdrop-filter: blur(20px)) or (backdrop-filter: blur(20px))) {
    .nav a:hover {
        color: #242628;
    }
    .nav a {
        font-size: 37px;
        text-decoration: none;
        color: #1C82E7;
        opacity: 100;
    }
    .nav h23 {
        color: #242628;
    }
    .taskbar {
        opacity: 0;
    }
    .nav {
        border-style: solid;
        color: #1C82E7;
        font-family: Framework7 Icons;
        position: fixed;
        bottom: 0px;
        left: 13.5%;
        z-index: 99;
        text-align: center;
        display: block;
        padding: 5px;
        margin-bottom: 10px;
        width: 70%;
        opacity: 50;
        background: #242628;
        border-radius: 20px;
        -webkit-backdrop-filter: saturate(180%) blur(20px);
        backdrop-filter: saturate(180%) blur(20px);
    }
}
